<div class="container">

    <h1 style="text-align: center;" >Update Passengers</h1><br><br>

    <div class="m-2" align="center">
        <div class="row" >
            <div class="col-12">
                <button class="btn btn-primary" routerLink="/userHome">Home</button>
            </div>
        </div>
    </div><br><br>

    <div class="jumbotron jumbotron p-3">

        <div class="row">
            <div class="col-12">
                <h3>Passenger Details</h3>
            </div>
        </div>

        <form [formGroup]="passengerForm" (ngSubmit)="submit()">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label >Name</label>
                    <input type="text" class="form-control" [class.is-invalid]="passengerForm.controls.name.invalid && passengerForm.controls.name.touched" formControlName="name" placeholder="name">
                    <small class="text-danger" *ngIf="passengerForm.controls.name.invalid && passengerForm.controls.name.touched">*Mandatory Field</small>
                </div>

                <div class="form-group col-md-4">
                    <label >Age</label>
                    <input type="number" class="form-control" [class.is-invalid]="passengerForm.controls.age.invalid && passengerForm.controls.age.touched" formControlName="age" placeholder="age">
                    <div *ngIf="passengerForm.controls.age.invalid && passengerForm.controls.age.touched">
                        <small class="text-danger" *ngIf="passengerForm.controls.age.errors?.required" >*mandatory Field</small>
                        <small class="text-danger" *ngIf="passengerForm.controls.age.errors?.min || passengerForm.controls.age.errors?.max">*age must be between 1 to 100</small>     
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label >luggage</label>
                    <input type="number" class="form-control" [class.is-invalid]="passengerForm.controls.luggage.invalid && passengerForm.controls.luggage.touched" formControlName="luggage" placeholder="luggage">
                    <div *ngIf="passengerForm.controls.luggage.invalid && passengerForm.controls.luggage.touched">
                        <small class="text-danger" *ngIf="passengerForm.controls.luggage.errors?.required" >*mandatory Field</small>
                        <small class="text-danger" *ngIf="passengerForm.controls.luggage.errors?.min || passengerForm.controls.luggage.errors?.max">*luggage must be between 0 to 15kg</small>
                    </div>
                </div>
            </div>
            <div align="center">
                <input type="submit" value="update Passenger" class="btn btn-success">
            </div>
        </form>

    </div>


</div>