<div class="container" align="center"
    style="padding-top: 14.7%; background-image: url('https://cdn.pixabay.com/photo/2016/11/29/08/44/bus-1868507_960_720.jpg'); background-repeat: no-repeat centre fixed; background-size: cover;">
    <link href="admin-login.component.css" rel="stylesheet">


    <div class="transbox" align="center" style="width: 30%; padding-bottom: 1%; padding-top: 4%;">

        <h1 style="color:white;">Login</h1>

        <div class="alert-danger" *ngIf="failure.value">Invalid Id or Password</div><br>

        <form class="form-group" [formGroup]="loginForm" (ngSubmit)="submit()"> <br>

            <!----------- admin id-------- -->

            <div *ngIf="loginForm.get('adminId').invalid && loginForm.get('adminId').touched">
                <small *ngIf="loginForm.get('adminId').errors?.required" class="text-danger">*Admin ID is
                    madatory</small>
            </div>
            <input type="text" [class.is-invalid]="loginForm.get('adminId').invalid && loginForm.get('adminId').touched"
                class="form-control" formControlName="adminId" style="text-align: center;" placeholder="Admin ID"> <br>

            <!------------ password ---------------->

            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">*Password must be minimum
                    8 characters</small>
                <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">*Password is
                    madatory</small>
            </div>

            <input type="password"
                [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
                formControlName="password" class="form-control" style="text-align: center; " placeholder="Password">
            <br>

            <!-- buttons -->
            <input [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" style="width: 80%;"
                value="Log In"><br><br>
        </form>
        <a routerLink="/userLogin">User Login</a>

    </div>

</div>