<div class="container" align="center" style="padding-top: 14.8%;background-image: url('https://cdn.wallpapersafari.com/77/62/ChZ7lj.jpg');background-repeat: no-repeat centre fixed; background-size: cover;">
    <link href="user-login.component.css" rel="stylesheet">

    <div class="transbox" align="centre" style="width: 30%; padding-bottom: 2%; padding-top: 4%;">
        <h1 style="color:white;">Login</h1><br>
        <div *ngIf="failure.value" class="alert-danger">Invalid id or password</div>


        <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form-group"><br>

            <!-- userId -->

            <div *ngIf="loginForm.get('userId').invalid && loginForm.get('userId').touched">
                <small *ngIf="loginForm.get('userId').errors?.required" class="text-light">*Customer ID is
                    madatory</small>
            </div>

            <input type="number" [class.is-invalid]="loginForm.get('userId').invalid && loginForm.get('userId').touched"
                formControlName="userId" class="form-control" style="text-align: center;" placeholder="User Id"> <br>


            <!-- password -->
            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').errors?.minlength" class="text-light">*password must be minimum
                    8 characters</small>
                <small *ngIf="loginForm.get('password').errors?.required" class="text-light">*password is
                    madatory</small>
            </div>
            <input type="password"
                [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
                formControlName="password" class="form-control" style="text-align: center; " placeholder="Password">
            <br>


            <!-- button -->
            <div class="row">
                <div class="col-6">
                    <input [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mb1 bg-navy" style="width: 80%;"
                        value="Log In">
                </div>
                <div class="col-6">
                    <input type="button" routerLink="/addUser" class="btn btn-primary mb1 bg-navy" style="width: 80%;"
                        value="Register"><br><br>
                </div>
            </div>

            <a routerLink="/adminLogin" class="jumbotron" style="color:black;">Admin Login</a>

        </form>

    </div>

</div>