<div class="row justify-content-center">
    <div class="col-sm-10 text-left bg-white rounded shadow py-13">
        <div class="p-3 mb-2 bg-success text-white">
            <h1>WELCOME ADMIN</h1>
            <button class="btn btn-primary float-right" (click)="logout()" >Logout</button>
            <div *ngIf="adminDetails">
                <small>id: {{adminDetails.adminId}}</small><br>
                <small>name: {{adminDetails.adminName}}</small>
            </div>
        </div>
        <div class="row">



            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add Bus Details</h3>
                        <p class="card-text">Here Admin can add the Bus Details into the Database.</p>
                        <button type="submit" class="btn btn-warning float-right" routerLink="/addBusDetails" >Add Bus
                            Details</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">View All Bus Details</h3>
                        <p class="card-text">Here Admin can view all Bus Details from the Database.</p>
                        <button type="submit" routerLink="/allBussDetails" class="btn btn-warning float-right" >View Bus
                            Details</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>